.middle-card-container {
  border-radius: 10px;
  background: var(--color-gradient);
  color: var(--color-very-light-grayish-blue);
  box-shadow: 1px -1px 5px 0px rgba(0, 0, 0, 0.75);
  font-weight: 700;
  z-index: 1;
}

.middle-card-container_text {
  margin-top: 2rem;
}

.middle-card-container_rules {
  margin-top: 2rem;
}

.middle-card-container_text h1 {
  margin-top: 1rem;
  font-size: 85px;
}

.middle-card-container_text h1 span {
  vertical-align: middle;
  font-size: 35px;
}

.middle-card-container_rules ul {
  list-style: none;
}

.middle-card-container_rules span {
  display: inline-block;
  vertical-align: middle;
  line-height: 2.5;
  width: 90%;
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
}

.middle-card-container-button button {
  border-radius: 5px;
  font-weight: 700;
  letter-spacing: 2px;
  border: none;
  background: var(--color-very-light-grayish-blue);
  color: hsl(237, 63%, 64%);
  cursor: pointer;
  width: 90%;
  height: 40px;
  margin-top: 2rem;
}

.middle-card-container-button button:hover {
  background: none;
  color: var(--color-very-light-grayish-blue);
  border: 1px solid;
}

/* Conditional Section */
/* Mobile Rules */
@media screen and (max-width: 540px) {
  .middle-card-container {
    width: 100%;
    height: 27rem;
    margin-top: 1rem;
  }
}

/* Desktop Rules */
@media screen and (min-width: 540px) {
  .middle-card-container {
    width: 26%;
    height: 27rem;
  }

  .middle-card-container_text h1 {
    font-size: 90px;
  }
}
