* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background-image: url("./assets/bg-top.svg"), url("./assets/bg-bottom.svg");
  background-repeat: no-repeat;
  background-position: right top, left bottom;
  background-color: var(--color-very-light-grayish-blue);
  text-align: center;
}
