@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --font-family: "Montserrat", sans-serif;

  /* Primary Color  */
  --color-gradient: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));

  /* Neutral Color  */
  --color-very-light-grayish-blue: hsl(240, 78%, 98%);
  --color-light-grayish-blue: hsl(234, 14%, 74%);
  --color-grayish-blue: hsl(233, 13%, 49%);
  --color-dark-grayish-blue: hsl(0, 0%, 41%);
}
